body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FCF3EE;
  color: #B0413E;
}

y li {
  list-style-type: none;
}

header {
  background-color: #5E7C50;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left-icon {
  font-size: 24px;
  margin-right: 10px;
}

header nav {
  display: flex;
}

a {
  color: #B0BC98;
  text-decoration: none;
  margin: 0 10px;
}

a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-grow: 2;
}

aside {
  background-color: #B0BC98;
  color: #fff;
  width: 20%;
  padding: 20px;
}

section {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #5E7C50;
  color: #fff;
  /* text-align: center; */
  padding: 10px 0;
}

button {
  background-color: #B0413E;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  background-color: #B0BC98;
}

#education {
  display: none;
}

#experience {
  display: none;
}

#skills {
  display: none;
}

#hobbies {
  display: none;
}